# Choose your environment. WSL is the default.
COMPOSE_FILE=docker-compose.yml:docker-compose.wsl.yml
# For native Ubuntu, comment the line above and uncomment:
# COMPOSE_FILE=docker-compose.yml:docker-compose.ubuntu.yml
