src/
fmruby-core/
asterism/
asterism-zenoh/
picoruby-asterism-zenoh/
fmruby-graphics-audio/
fmrb-audio-tools/
sandbox/
.vscode/
.claude/
.codex/
flash/home/music/
tmp/
.env
.codex
.rake_tasks~
*.vsix
contest/
asterism-console/
