services:
  fmruby-graphics-audio:
    image: ghcr.io/family-mruby/fmruby-esp32-build:latest
    container_name: fmruby_graphics_audio
    user: "${UID:-1000}:${GID:-1000}"
    init: true
    stop_grace_period: 2s
    environment:
      - DISPLAY=${DISPLAY:-:0}
      - HOME=/tmp
      - GIT_CONFIG_PARAMETERS=safe.directory=/opt/esp/idf
      - PULSE_SERVER=unix:/mnt/wslg/PulseServer
      - SDL_AUDIODRIVER=pulseaudio
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - /mnt/wslg:/mnt/wslg
      - ./fmruby-graphics-audio:/project
      - fmruby-sockets:/tmp
    working_dir: /project
    command: sh -c "./build/fmruby-graphics-audio.elf"
    #command: gdb -ex run -ex "thread apply all bt" -ex "set confirm off" -ex quit ./build/fmruby-graphics-audio.elf
    #command: gdb -ex run ./build/fmruby-graphics-audio.elf

  fmruby-core:
    image: ghcr.io/family-mruby/fmruby-esp32-build:latest
    container_name: fmruby_core
    user: "${UID:-1000}:${GID:-1000}"
    init: true
    environment:
      - HOME=/tmp
      - GIT_CONFIG_PARAMETERS=safe.directory=/opt/esp/idf
    volumes:
      - ./fmruby-core:/project
      - fmruby-sockets:/tmp
    working_dir: /project
    depends_on:
      - fmruby-graphics-audio
    command: sh -c "sleep 2 && ./build/fmruby-core.elf"
    #command: sh -c "sleep 2 && gdb -ex run ./build/fmruby-core.elf"

volumes:
  fmruby-sockets:

